<div class="container">
  <h2>Books Available</h2>

  <a href="#/post" class="btn btn-default">Sell My Book</a>


  <input type="text" ng-model="searchBooks" placeholder="Find by class or title" >

  <!-- Books list -->
  <div ng-model="todos">
  <pre>Id           Title       Class</pre>
    <p class="input-group" ng-repeat="book in books | filter:searchBooks" style="padding:5px 10px;">
      {{book.id}}   {{book.title}}          {{book.class}}
      <span class="input-group-btn">
        <button class="btn btn-success" ng-click="removeTodo($index)" aria-label="Remove">Book It</button>
      </span>
    </p>
  </div>
</div>